<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800752231823-bo9unn2mcvampnb9u1uhua1uc2klhvg1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800752231823-bo9unn2mcvampnb9u1uhua1uc2klhvg1</string>
	<key>API_KEY</key>
	<string>AIzaSyCu02szLgvmmcaFAlR7bgl9MHC8ah53Y0s</string>
	<key>GCM_SENDER_ID</key>
	<string>800752231823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.northeastern.ashish.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>fall2020-8c7e6</string>
	<key>STORAGE_BUCKET</key>
	<string>fall2020-8c7e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800752231823:ios:e4664ef501dcacbeb157fa</string>
	<key>DATABASE_URL</key>
	<string>https://fall2020-8c7e6.firebaseio.com</string>
</dict>
</plist>